.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 450px 50px;
    /* grid-template-rows: minmax(10px, auto); */
    /* border-style: solid;
    border-width: 5px;
    border-radius: 12px; */
}

header {
    grid-column: span 12;
    font-family: "Times New Roman", Georgia, Serif;
    color: rgb(126, 126, 170);
    text-shadow: 3px 2px #0c0000;
    /* grid-row: 2/12; */
    /* background-color: rgb(1, 70, 69); */
}
aside {
    grid-column: span 4;
    opacity: 0.95;
    /* grid-row: 10/12;     */
    background-color: lightblue;
    border-radius: 30px 0px 0px 0px;
}
main {
    grid-column: span 8;
    opacity: 0.95;
    /* grid-row: 10/12;     */
    background-color: rgb(4, 170, 168);
    border-radius: 0px 30px 0px 0px;
}
footer {
    grid-column: span 12;
    /* grid-row: 2/12;     */
    background-color: rgb(1, 70, 69);
    border-radius: 0px 0px 30px 30px;
    opacity: 0.6;
}

header {
    display: flex;
    margin: auto;
}

.enclosing {
    /* background: -webkit-linear-gradient(top,  #2c354e 0%,#576a97 100%); */
    background: url("resources/background.jpg") top center no-repeat;
    background-size:cover;
}

.signature {
    text-align: right;
}

/* Buttons */
#add-fact {
    /* position:relative; */
    transition: .5s ease;
    /* left: 40px;
    top: 20px; */
}

#delete-fact {
    /* position:relative; */
    transition: .5s ease;
    /* left: 60px;
    top: 20px; */
}

#add-rule {
    /* position:relative; */
    transition: .5s ease;
    /* left: 40px;
    top: 20px; */
}

#delete-rule {
    /* position:relative; */
    transition: .5s ease;
    /* left: 60px;
    top: 20px; */
}

#load-file {
    /* position:relative; */
    transition: .5s ease;
    /* left: 40px; */
    /* top: 40px; */
}

#select-file {
    /* position:relative; */
    transition: .5s ease;
    /* left: 40px; */
    /* top: 40px; */
}

#accept-rule {
    /* position:relative; */
    transition: .5s ease;
    border-radius: 15px 15px 15px 15px;
    /* left: 40px;
    top: 20px; */
}

.side-button {
    font-size: 10px;
    padding: 10px;
    border-radius: 4px;
    float:left;
    margin-right:10px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.table-div {
    color:blue;
    height: 29em;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px; margin-top:80px; margin-left:20px}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;float:left}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5077bf;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5077bf;
    color: white;
}

#subselect-destroy{
    display: block; /* Hidden by default */
}

#subselect-unit{
    display: none; /* Hidden by default */
}